* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}
nav .item1 {
  width: 20%;
  height: 100%;
  background-color: transparent;
}
nav .item2 {
  width: 60%;
  display: flex;
  padding: 0 400px 0;
  text-align: center;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
}
nav .item3 {
  width: 20%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.digi_img {
  width: 150px;
  height: 50px;
  padding-left: 150px;
  line-height: 140px;
}

ul {
  list-style-type: none;
  display: flex;
  font-size: 17px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  gap: 60px;
  justify-content: center;
  align-items: center;
}
ul:hover {
  color: rgb(238, 46, 212);
  transition: 0.5s;
}

.container {
  padding-left: 25px;
  padding-top: 35px;
}
.container .bar1 {
  width: 35px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
}
.container .bar2 {
  width: 35px;
  background-color: rgb(255, 255, 255);
  margin: 8px 0;
}

.item3 {
  display: flex;
  align-items: center;
  padding-top: 25px;
}
.item3 a {
  padding: 10px 25px;
  border-radius: 30px;
  background-color: white;
  color: #fa65b1;
  border: 2px solid #fa65b1;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.item3 a:hover {
  background-color: #fa65b1;
  color: white;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#website__traffic {
  display: flex;
  align-items: center;
  padding: 70px 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.website__traffic-items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.website__traffic-item {
  width: 45%;
  padding: 50px 0;
}
.website__traffic-item h2 {
  z-index: 2;
  position: relative;
  font-weight: 700;
  font-size: 50px;
  color: #2a2a2a;
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.website__traffic-item h6 {
  font-size: 20px;
  font-weight: 700;
  color: #fa65b1;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.website__traffic-item p {
  font-size: 17px;
  line-height: 30px;
  font-weight: 300;
  color: #afafaf;
  margin-bottom: 30px;
  margin-right: 45px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.website__traffic-item a {
  padding: 10px 25px;
  border-radius: 30px;
  background-color: white;
  color: #fa65b1;
  border: 2px solid #fa65b1;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.website__traffic-item a:hover {
  background-color: #fa65b1;
  color: white;
  border: none;
}
.website__traffic-item img {
  width: 100%;
}/*# sourceMappingURL=tofu.css.map */